<!doctype html>
html(lang="ru")
    head

        base(href='./../')
        include ./../parts/_meta
        +meta("Uprest - Company")
        block scripts
            include ./../parts/_head-scripts

    body
        section.overflow
            .inner-page
                include ./../parts/_header
                section.tail
                    .container
                        include ./../parts/_breadcrumbs.pug
                        +breadcrumbs('Company')
                        include ./../parts/_page-title.pug
                        +pageTitle('Company')

                        section.page-tail
                            .column-text
                                h2 About
                                p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                                p Dramatically syndicate installed base portals without cross-unit total linkage. Phosfluorescently communicate performance based sources.p Assertively engage equity invested customer service without client-focused relationships. Distinctively plagiarize enterprise-wide users before turnkey web services. Completely drive cutting-edge markets for 24/7 core competencies. Conveniently provide access to high standards in quality vectors and enterprise-wide deliverables. Phosfluorescently deploy fully tested synergy before premium growth strategies.
                                p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                                h2 Misson
                                p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                                p Professionally fashion pandemic architectures vis-a-vis intuitive infrastructures. Dramatically visualize intuitive human capital rather than interoperable scenarios. Continually actualize worldwide experiences before emerging information. Conveniently evolve end-to-end functionalities with go forward core competencies.
                                p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth


                    include ./../parts/_faq
                include ./../parts/_footer
        include ./../parts/_dialogs
        include ./../parts/_footer-scripts.html
        script(defer,src='./js/main.js')