<!doctype html>
html(lang="ru")
    head

        base(href='./../')
        include ./../parts/_meta
        +meta("Uprest - Functionalities")
        block scripts
            include ./../parts/_head-scripts

    body
        section.overflow
            .inner-page
                include ./../parts/_header
                section.tail
                    .container
                        include ./../parts/_breadcrumbs.pug
                        +breadcrumbs('Functionalities')
                        include ./../parts/_page-title.pug
                        +pageTitle('Functionalities')

                        section.page-tail
                            section.functionality.functionality--single.splide#functionality-slider
                                .splide__track
                                    section.functionality__list.splide__list
                                                    a(href='./single/').functionality__item.wow.fadeIn(data-wow-duration='0.4s').splide__slide
                                                        picture
                                                            img.lazy(data-splide-lazy='./img/functionality-icon-1.svg', data-src='./img/functionality-icon-1.svg', alt='')
                                                        span Smart POS
                                                        span.btn.btn--smaller.btn--link Learn more
                                                    a(href='./single/').functionality__item.wow.fadeIn(data-wow-duration='0.4s').splide__slide
                                                        picture
                                                            img.lazy(data-splide-lazy='./img/functionality-icon-2.svg', data-src='./img/functionality-icon-2.svg', alt='')
                                                        span Stock management
                                                        span.btn.btn--smaller.btn--link Learn more
                                                    a(href='./single/').functionality__item.wow.fadeIn(data-wow-duration='0.4s').splide__slide
                                                        picture
                                                            img.lazy(data-splide-lazy='./img/functionality-icon-3.svg', data-src='./img/functionality-icon-3.svg', alt='')
                                                        span Staff
                                                        span.btn.btn--smaller.btn--link Learn more
                                                    a(href='./single/').functionality__item.wow.fadeIn(data-wow-duration='0.4s').splide__slide
                                                        picture
                                                            img.lazy(data-splide-lazy='./img/functionality-icon-4.svg', data-src='./img/functionality-icon-4.svg', alt='')
                                                        span Financials
                                                        span.btn.btn--smaller.btn--link Learn more
                                                    a(href='./single/').functionality__item.wow.fadeIn(data-wow-duration='0.4s').splide__slide
                                                        picture
                                                            img.lazy(data-splide-lazy='./img/functionality-icon-5.svg', data-src='./img/functionality-icon-5.svg', alt='')
                                                        span Franchises and chains
                                                        span.btn.btn--smaller.btn--link Learn more
                                                    a(href='./single/').functionality__item.wow.fadeIn(data-wow-duration='0.4s').splide__slide
                                                        picture
                                                            img.lazy(data-splide-lazy='./img/functionality-icon-6.svg', data-src='./img/functionality-icon-6.svg', alt='')
                                                        span Marketplace
                                                        span.btn.btn--smaller.btn--link Learn more



                    include ./../parts/_faq
                include ./../parts/_footer
        include ./../parts/_dialogs
        include ./../parts/_footer-scripts.html
        script(defer,src='./js/main.js')