<!doctype html>
html(lang="ru")
    head

        base(href='./')
        include ./parts/_meta
        +meta("Главная")
        block scripts
            include ./parts/_head-scripts

    body
        section.overflow.main-page
            include ./parts/_header
            section.tail
                section.hero
                    .container
                        .hero__inner
                            section.hero__content
                                h1.hero__title= 'All-in-one \nrestaurant POS \nand suppliers \nsolution'
                                .hero__text
                                    p One restaurant system for&nbsp;all
                                footer.hero__footer
                                    button.hero__button.btn Book a demo
                                    span.price.hero__price from 49€/month
                            aside.hero__picture.lazy-wrapper.is-loaded
                                .hero__picture-wrapper
                                    img.hero__picture-img.lazy.only-desktop(alt='' src='./img/hero-index.jpg' style='')
                                    img.hero__picture-img.lazy.only-mobile(data-src='./img/hero-index-mobile.jpg' alt='')
                                .hero__messages
                                    .message
                                        .message__pic
                                            img.message__pic-img(src='./img/message-ava-1.png' alt='')
                                        .message__text
                                            p No need to spend hours trawling through receipts and records!

                                    .message
                                        .message__pic
                                            img.message__pic-img(src='./img/message-ava-2.png' alt='')
                                        .message__text
                                            p Real-time data sharpens your planning, visibility and control

                section.counters.section
                    .container
                        ul.counters__list
                            li.counters__item
                                strong
                                    img(data-src='./img/grow-up-icon.svg' alt='').lazy
                                    | +#[span.js-count 200]k
                                span User using the platform
                            li.counters__item
                                strong
                                    img(data-src='./img/grow-up-icon.svg' alt='').lazy
                                    | #[span.js-count 98]%
                                span Revenue growth
                            li.counters__item
                                strong
                                    img(data-src='./img/grow-up-icon.svg' alt='').lazy
                                    | +#[span.js-count 120]
                                span Cooperation companies
                        section.counters__text
                            p= `Globally e-enable process-centric internal or "organic" sources rather than impactful \nmindshare. Efficiently actualize next-generation e-commerce without cross functional users. \nUniquely synthesize stand-alone bandwidth through worldwide potentialities`


                section.section.functionality
                    .container
                        .functionality__inner
                            section.functionality__content
                                h2.functionality__title.section-title Functionalities
                                section.functionality__list
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-1.svg' alt='')
                                        span Smart POS
                                        span.btn.btn--smaller.btn--link Learn more
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-2.svg' alt='')
                                        span Stock management
                                        span.btn.btn--smaller.btn--link Learn more
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-3.svg' alt='')
                                        span Staff
                                        span.btn.btn--smaller.btn--link Learn more
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-4.svg' alt='')
                                        span Financials
                                        span.btn.btn--smaller.btn--link Learn more
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-5.svg' alt='')
                                        span Franchises and chains
                                        span.btn.btn--smaller.btn--link Learn more
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-6.svg' alt='')
                                        span Marketplace
                                        span.btn.btn--smaller.btn--link Learn more

            include ./parts/_footer
        include ./parts/_dialogs
        include ./parts/_footer-scripts.html
        script(defer,src='./js/main.js?v=' + Date.now())