<!doctype html>
html(lang="ru")
    head

        base(href='./')
        include ./parts/_meta
        +meta("Главная")
        block scripts
            include ./parts/_head-scripts

    body
        section.overflow.main-page
            include ./parts/_header
            section.tail
                section.hero
                    .container
                        .hero__inner
                            section.hero__content
                                h1.hero__title= 'All-in-one \nrestaurant POS \nand suppliers \nsolution'
                                .hero__text
                                    p One restaurant system for&nbsp;all
                                footer.hero__footer
                                    button.hero__button.btn Book a demo
                                    span.price.hero__price from 49€/month
                            aside.hero__picture
                                .hero__picture-wrapper.lazy-wrapper
                                    img.hero__picture-img.lazy.only-desktop(alt='' data-src='./img/hero-index.jpg' style='')
                                    img.hero__picture-img.lazy.only-mobile(data-src='./img/hero-index-mobile.jpg' alt='')
                                .hero__messages
                                    .message
                                        .message__pic
                                            img.message__pic-img.lazy(data-src='./img/message-ava-1.png' alt='')
                                        .message__text
                                            p No need to spend hours trawling through receipts and records!

                                    .message
                                        .message__pic
                                            img.message__pic-img.lazy(data-src='./img/message-ava-2.png' alt='')
                                        .message__text
                                            p Real-time data sharpens your planning, visibility and control

                section.counters.section
                    .container
                        ul.counters__list
                            li.counters__item
                                strong
                                    img(data-src='./img/grow-up-icon.svg' alt='').lazy
                                    | +#[span.js-count 200]k
                                span User using the platform
                            li.counters__item
                                strong
                                    img(data-src='./img/grow-up-icon.svg' alt='').lazy
                                    | #[span.js-count 98]%
                                span Revenue growth
                            li.counters__item
                                strong
                                    img(data-src='./img/grow-up-icon.svg' alt='').lazy
                                    | +#[span.js-count 120]
                                span Cooperation companies
                        section.counters__text
                            p= `Globally e-enable process-centric internal or "organic" sources rather than impactful \nmindshare. Efficiently actualize next-generation e-commerce without cross functional users. \nUniquely synthesize stand-alone bandwidth through worldwide potentialities`

                section.section.functionality
                    .container
                        .functionality__inner
                            section.functionality__content
                                h2.functionality__title.section-title Functionalities
                                section.functionality__list
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-1.svg' alt='')
                                        span Smart POS
                                        span.btn.btn--smaller.btn--link Learn more
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-2.svg' alt='')
                                        span Stock management
                                        span.btn.btn--smaller.btn--link Learn more
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-3.svg' alt='')
                                        span Staff
                                        span.btn.btn--smaller.btn--link Learn more
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-4.svg' alt='')
                                        span Financials
                                        span.btn.btn--smaller.btn--link Learn more
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-5.svg' alt='')
                                        span Franchises and chains
                                        span.btn.btn--smaller.btn--link Learn more
                                    a(href='#').functionality__item
                                        picture
                                            img.lazy(data-src='./img/functionality-icon-6.svg' alt='')
                                        span Marketplace
                                        span.btn.btn--smaller.btn--link Learn more


                section.companies.section.section--zerotop
                    .container
                        .companies__inner
                            h2.companies__title.section-title Partners
                            ul.companies__list
                                - for (let i = 0; i < 5; i++)
                                    li.companies__item
                                        a(href='#', target='_blank')
                                            picture
                                                img.lazy(data-src=`./img/company-pic-${i + 1}.png`, alt='')
                                            p Microsoft

                section.section.faq
                    .container
                        .faq__inner
                            h2.faq__title.section-title FAQ
                            p.faq__text.section-subtitle Conveniently strategize fully tested potentialities before goal-oriented collaboration and idea-sharing.
                            section.faq__list
                                li.faq__item
                                    .faq__button
                                        img.lazy(data-src='./img/faq-btn-bg.png', alt='').faq__button-bg
                                        img.lazy(data-src='./img/minus-icon.svg', alt='').faq__button-minus
                                        img.lazy(data-src='./img/plus-icon.svg', alt='').faq__button-plus

                                    .faq__question
                                        p Phosfluorescently evolve market-driven action items?
                                    .faq__answer
                                        p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                                        p Professionally fashion pandemic architectures vis-a-vis intuitive infrastructures. Dramatically visualize intuitive human capital rather than interoperable scenarios. Continually actualize worldwide experiences before emerging information. Conveniently evolve end-to-end functionalities with go forward core competencies.
                                li.faq__item
                                    .faq__button
                                        img.lazy(data-src='./img/faq-btn-bg.png', alt='').faq__button-bg
                                        img.lazy(data-src='./img/minus-icon.svg', alt='').faq__button-minus
                                        img.lazy(data-src='./img/plus-icon.svg', alt='').faq__button-plus
                                    .faq__question
                                        p Progressively create exceptional quality vectors?
                                    .faq__answer
                                        p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                                        p Professionally fashion pandemic architectures vis-a-vis intuitive infrastructures. Dramatically visualize intuitive human capital rather than interoperable scenarios. Continually actualize worldwide experiences before emerging information. Conveniently evolve end-to-end functionalities with go forward core competencies.

                                li.faq__item
                                    .faq__button
                                        img.lazy(data-src='./img/faq-btn-bg.png', alt='').faq__button-bg
                                        img.lazy(data-src='./img/minus-icon.svg', alt='').faq__button-minus
                                        img.lazy(data-src='./img/plus-icon.svg', alt='').faq__button-plus
                                    .faq__question
                                        p Conveniently maintain market positioning core competencies?
                                    .faq__answer
                                        p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                                        p Professionally fashion pandemic architectures vis-a-vis intuitive infrastructures. Dramatically visualize intuitive human capital rather than interoperable scenarios. Continually actualize worldwide experiences before emerging information. Conveniently evolve end-to-end functionalities with go forward core competencies.

                                li.faq__item
                                    .faq__button
                                        img.lazy(data-src='./img/faq-btn-bg.png', alt='').faq__button-bg
                                        img.lazy(data-src='./img/minus-icon.svg', alt='').faq__button-minus
                                        img.lazy(data-src='./img/plus-icon.svg', alt='').faq__button-plus
                                    .faq__question
                                        p Quickly syndicate standardized services whereas synergistic?
                                    .faq__answer
                                        p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                                        p Professionally fashion pandemic architectures vis-a-vis intuitive infrastructures. Dramatically visualize intuitive human capital rather than interoperable scenarios. Continually actualize worldwide experiences before emerging information. Conveniently evolve end-to-end functionalities with go forward core competencies.




            include ./parts/_footer
        include ./parts/_dialogs
        include ./parts/_footer-scripts.html
        script(defer,src='./js/main.js')