<!doctype html>
html(lang="ru")
    head

        base(href='./../')
        include ./../parts/_meta
        +meta("Uprest - Contacts")
        block scripts
            include ./../parts/_head-scripts

    body
        section.overflow
            .inner-page
                include ./../parts/_header
                section.tail
                    .container
                        include ./../parts/_breadcrumbs.pug
                        +breadcrumbs('Contacts')
                        include ./../parts/_page-title.pug
                        +pageTitle('Contacts')

                        section.page-tail
                            sectio.contacts
                                section.contacts__info
                                    .contacts__section
                                        p Office address
                                        p= "R. A Gazeta d'Oeiras, 2, 2D \n2780-171 Oeiras"
                                    .contacts__section
                                        p Mailing address
                                        p= "Salvador Barata Feyo, 7-1DTO \n2780-355 Oeiras"
                                    .contacts__section
                                        p Email
                                        p
                                            a(href='mailto:sa@uprest.pt') sa@uprest.pt
                                    .contacts__section
                                        p Telegram
                                        p
                                            a(href='https://t.me/andsunf') @andsunf

                                section.contacts__map
                                    .marker.wow(data-wow-duration='0.4s', data-wow-lazy-effect="fadeInUp")
                                        img(data-src='./img/logo-icon.svg', alt='').lazy
                                        span R. A Gazeta d'Oeiras, 2, 2D. 2780-171 Oeiras
                                    #map(data-src='./img/map.png').lazy



                    include ./../parts/_faq
                include ./../parts/_footer
        include ./../parts/_dialogs
        include ./../parts/_footer-scripts.html
        script(defer,src='./js/main.js')