section.section.faq
    .container
        .faq__inner
            h2.faq__title.section-title FAQ
            p.faq__text.section-subtitle Conveniently strategize fully tested potentialities before goal-oriented collaboration and idea-sharing
            section.faq__list
                li.faq__item
                    .faq__button
                        img.lazy(data-src='./img/faq-btn-bg.png', alt='').faq__button-bg
                    .faq__question
                        p Phosfluorescently evolve market-driven action items?
                    .faq__answer
                        p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                        p Professionally fashion pandemic architectures vis-a-vis intuitive infrastructures. Dramatically visualize intuitive human capital rather than interoperable scenarios. Continually actualize worldwide experiences before emerging information. Conveniently evolve end-to-end functionalities with go forward core competencies.
                li.faq__item
                    .faq__button
                        img.lazy(data-src='./img/faq-btn-bg.png', alt='').faq__button-bg
                    .faq__question
                        p Progressively create exceptional quality vectors?
                    .faq__answer
                        p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                        p Professionally fashion pandemic architectures vis-a-vis intuitive infrastructures. Dramatically visualize intuitive human capital rather than interoperable scenarios. Continually actualize worldwide experiences before emerging information. Conveniently evolve end-to-end functionalities with go forward core competencies.

                li.faq__item
                    .faq__button
                        img.lazy(data-src='./img/faq-btn-bg.png', alt='').faq__button-bg
                    .faq__question
                        p Conveniently maintain market positioning core competencies?
                    .faq__answer
                        p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                        p Professionally fashion pandemic architectures vis-a-vis intuitive infrastructures. Dramatically visualize intuitive human capital rather than interoperable scenarios. Continually actualize worldwide experiences before emerging information. Conveniently evolve end-to-end functionalities with go forward core competencies.

                li.faq__item
                    .faq__button
                        img.lazy(data-src='./img/faq-btn-bg.png', alt='').faq__button-bg
                    .faq__question
                        p Quickly syndicate standardized services whereas synergistic?
                    .faq__answer
                        p Globally e-enable process-centric internal or "organic" sources rather than impactful mindshare. Efficiently actualize next-generation e-commerce without cross functional users. Uniquely synthesize stand-alone bandwidth through worldwide potentialities.
                        p Professionally fashion pandemic architectures vis-a-vis intuitive infrastructures. Dramatically visualize intuitive human capital rather than interoperable scenarios. Continually actualize worldwide experiences before emerging information. Conveniently evolve end-to-end functionalities with go forward core competencies.
