
footer.footer
    .container
        .footer__inner
            section.footer__top
                section.footer__top-left
                    .footer__logo
                        a(href='.').logo
                            img(data-src='./img/logo-white.svg', alt='', height=52, width=141).lazy

                    nav.footer__nav.nav
                        ul.nav__list
                            li.nav__item
                                a(href='./company/') Company
                            li.nav__item
                                a(href='./functionalities/') Functionalities
                            li.nav__item
                                a(href='./services/') Services
                            li.nav__item
                                a(href='./pricing/') Pricing
                            li.nav__item
                                a(href='./contacts/') Contacts

                    p.footer__about Conveniently maintain market positioning core competencies
                        br
                        | whereas end-to-end "outside the box" thinking. Progressively create
                        br
                        | exceptional quality vectors through 2.0 potentialities
                section.footer__top-right
                    .footer__contacts
                        p= "Office address \nR. A Gazeta d'Oeiras, 2, 2D. \n2780-171 Oeiras"

                        p Telegram&nbsp;
                            a(href='https://t.me/andsunf') @andsunf
                        p Email&nbsp;
                            a(href='mailto:sa@uprest.pt') sa@uprest.pt

            section.footer__bottom
                span.footer__copy © Copyright Uprest LDA , #[span.year]
                section.footer__policy
                    a(href='./policy') Privacy Policy