section.section.prefooter
    .container
        .prefooter__inner
            section.prefooter__content
                h2.prefooter__title.animatedTitle
                    span= 'All-in-one \nrestaurant POS \nand '
                    span.animatedTitle__el(data-variants="suppliers,franchises") suppliers
                    span  solution

                .prefooter__text
                    p One restaurant system for&nbsp;all
                footer.prefooter__footer
                    button.prefooter__button.btn.btn--inverse Book a demo
                    span.price.prefooter__price from 49€/month
    aside.prefooter__picture.lazy-wrapper.is-loaded
        img.prefooter__picture-img.lazy.only-desktop(alt='', data-src='./img/prefooter-pos.png' style='')
        img.prefooter__picture-img.lazy.only-mobile(data-src='./img/hero-index-mobile.jpg' alt='')

footer.footer
    .container
        .footer__inner
            section.footer__top
                section.footer__top-left
                    .footer__logo
                        a(href='/').logo
                            img(data-src='/img/logo-white.svg', alt='').lazy

                    nav.footer__nav.nav
                        ul.nav__list
                            li.nav__item
                                a(href='/') Company
                            li.nav__item
                                a(href='/') Functionalities
                            li.nav__item
                                a(href='/') Services
                            li.nav__item
                                a(href='/') Pricing
                            li.nav__item
                                a(href='/') Contacts

                    p.footer__about Conveniently maintain market positioning core competencies
                        br
                        | whereas end-to-end "outside the box" thinking. Progressively create
                        br
                        | exceptional quality vectors through 2.0 potentialities.
                section.footer__top-right
                    .footer__contacts
                        p Address:
                            br
                            | Rua Salvador Barata Feyo, 7,
                            br
                            | 1DTO, 2780-355, Oeiras, Portugal.
                        p Phone:&nbsp;
                            a(href='tel:+351 214 407 305') +351 214 407 305
                        p Social:&nbsp;
                            a(href='https://www.instagram.com/')
                                span.icon.icon--instagram
                            a(href='https://www.instagram.com/')
                                span.icon.icon--instagram

            section.footer__bottom
                span.footer__copy © Copyright Uprest LDA , #[span.year]
                section.footer__policy
                    a(href='./policy') Privacy Policy