mixin form(name, text)

    form.form(action=``, method='post')
        section.form__field
            label.form__label Name
            input.form__control(type='text', name='name')
            p.form__field-errorText Required field
        section.form__field
            label.form__label Family name
            input.form__control(type='text', name='surname')
            p.form__field-errorText Required field
        section.form__field
            label.form__label Phone
            input.form__control(type='tel', name='phone')
            p.form__field-errorText Required field
        section.form__field
            label.form__label Email (optional)
            input.form__control(type='text', name='email')
            p.form__field-errorText Required field
        section.form__field
            label.form__label Company/restaurant name
            input.form__control(type='text', name='email')
            p.form__field-errorText Required field
        section.form__field.form__field--select
            label.form__label Language (optional)
            i.form__caretDown.paste-sprite-caret-left-icon.icon
            select.form__control
                option(value='en') English
                option(value='pt') Português
            p.form__field-errorText Required field
        section.form__section
            .form__checkbox
                label.form__checkboxContainer
                    span.form__checkboxContainer-text I am agree to the terms of the &nbsp;
                        a(href="/policy", target="_blank") Privacy Policy
                    input(type='checkbox', name='agree')
                    span.form__checkboxMark
                        span.form__checkboxMark-icon
                            <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 5L5 9L13 1" stroke="black" stroke-width="2"/>
                            </svg>
                p.form__field-errorText Required field

        //section.form__section
        //    div.q-captcha(id=`${name || "order"}-captcha`)
        //    p.form__captcha-errors Required field
        section.form__footer
            input(type='hidden', name='formName', value=`${name || "order"}`)
            button.form__submit.btn(type='submit') Send
