section.prefooter
    .container
        .prefooter__inner
            section.prefooter__content
                h2.prefooter__title.animatedTitle.animatedTitle--hor
                    span= 'All-in-one \n'
                    span= 'restaurant POS \n'
                    span.animatedTitle__lvl= 'and '
                    span.animatedTitle__el(data-variants="suppliers,stocks,finances,staff,delivery") suppliers
                    span solution

                .prefooter__text
                    p One restaurant system for&nbsp;all
                footer.prefooter__footer
                    button.prefooter__button.btn.btn--inverse.js-open-dialog(data-dialog-id="order", type="button") Book a demo
                    span.price.prefooter__price from 49€/month
    aside.prefooter__picture.lazy-wrapper.is-loaded
        img.prefooter__picture-img.lazy.only-desktop(alt='', data-src='./img/prefooter-pos.png' style='')
        img.prefooter__picture-img.lazy.only-mobile(data-src='./img/prefooter-pos-mobile.png' alt='')