<!doctype html>
html(lang="ru")
    head

        base(href='./../')
        include ./../parts/_meta
        +meta("Uprest - Pricing")
        block scripts
            include ./../parts/_head-scripts

    body
        section.overflow
            .inner-page
                include ./../parts/_header
                section.tail
                    .container
                        include ./../parts/_breadcrumbs.pug
                        +breadcrumbs('Pricing')
                        include ./../parts/_page-title.pug
                        +pageTitle('Pricing')

                        section.page-tail
                            section.pricing
                                ul.pricing__list
                                    li.price-card.js-open-dialog(data-dialog-id="order")
                                        p.price-card__name Basic
                                        .price-card__desc
                                            p= "All-in-one suite \nfor the start-up"
                                        strong.price-card__price $100
                                        small.price-card__old-price $200
                                        span.btn Start
                                    li.price-card.js-open-dialog(data-dialog-id="order")
                                        p.price-card__name Professional
                                        .price-card__desc
                                            p= "Advanced features \nfor hospitality pros"
                                        strong.price-card__price $100
                                        small.price-card__old-price $200
                                        span.btn Start
                                    li.price-card.js-open-dialog(data-dialog-id="order")
                                        p.price-card__name Enterprise
                                        .price-card__desc
                                            p= "Customisable solution \nfor big business 1-5 users"
                                        strong.price-card__price $100
                                        small.price-card__old-price $200
                                        span.btn Start


                    include ./../parts/_faq
                include ./../parts/_footer
        include ./../parts/_dialogs
        include ./../parts/_footer-scripts.html
        script(defer,src='./js/main.js')