@use "vars";

.functionality {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px;
  }

  &__item {
    background-color: vars.$bg-gray;
    border-radius: 30px;
    padding: 50px 50px 40px;
    flex: 1 calc(33.33333% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    text-align: center;


    &:hover {
      background-color: vars.$brand-color;
      color: #fff;
    }

    picture {
      height: 184px;
      margin-bottom: 30px;
    }

    .btn {
      margin-top: 20px;

      &:hover {
        background-color: #fff !important;
        color: vars.$brand-color !important;
      }
    }
  }

  @media screen and (max-width: vars.$breakpoint-max-width-desktop) {

    &__list {
      justify-content: stretch;
      flex-wrap: nowrap;
      gap: 0;
    }


    &__item {
      flex: auto;
      background-color: vars.$brand-color;
      color: #fff;
      padding: 30px;
      border-radius: 15px;

      picture {
        height: 120px;
        margin-bottom: 15px;
      }

      span {
        font-size: 20px;
      }

      .btn {
        margin-top: 15px;
        font-size: 18px;
      }
    }
  }
  @media screen and (min-width: vars.$breakpoint-max-width-desktop) {
    &__list {
      display: flex !important;
    }
  }
}