@use "vars";

.header {
  position: relative;
  z-index: 2;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  transition-property: transform;
  background-color: #fff;

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: rgba(#fff, .8);
  }


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px;
  }

  &__nav {
    margin: 0 25px;
  }

  &__logo {
    display: flex;
    flex-shrink: 0;
  }

  &__burger {
    display: none;
  }

  .logo {
    width: 100%;
    max-width: 200px;
    display: inline-block;
  }

  @media screen and (max-width: vars.$breakpoint-max-width-desktop) {

    background-color: transparent;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
      background-color: transparent;
    }
    .logo {
      max-width: none;
      width: 106px;
      height: 40px;
    }

    &__inner {
      padding: 20px 0;
    }

    &__button {
      display: none;
    }

    &__burger {
      display: block;

    }
    &__nav {
      margin: 0;
    }

  }

  @media screen and (max-width: vars.$breakpoint-max-width-desktop-middle) {
    &__logo {
      max-width: 100px;
    }

    .btn {
      font-size: 16px;
    }
  }
}

body.nav-open {
  @media screen and (max-width: vars.$breakpoint-max-width-desktop) {
    overflow: hidden;

    .nav-overlay {
      visibility: visible;
      opacity: 1;
      pointer-events: initial;
      user-select: initial;
    }

    .header {
      .nav {
        &__list {
          opacity: 1;
          visibility: visible;
          pointer-events: initial;
          user-select: initial;

          li {
            opacity: 1;
            transform: translateY(0);
          }
        }

        &__bottom {
          opacity: 1;
          visibility: visible;
          pointer-events: initial;
          user-select: initial;

          * {
            opacity: 1;
            transform: translateY(0);
          }
        }

        &__mobileGlass {
          opacity: 1;
          visibility: visible;
          pointer-events: initial;

        }
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__mobileGlass {
    display: none;
    background-color: #fff;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      background-color: rgba(#fff, .8);
    }
  }

  &__inner {
    position: relative;
  }

  &__item {
    margin: 0 25px;
  }

  &__bottom {
    display: none;

    & * {
      opacity: 0;
      transform: translateY(20px);
      transition: transform .5s ease, opacity .5s ease, background-color .5s ease !important;
      transition-delay: .3s !important;
    }
  }

  @media screen and (min-width: vars.$breakpoint-max-width-desktop) {
    &__list {
      visibility: visible !important;
      pointer-events: initial !important;
      user-select: initial !important;
      position: relative !important;
    }
  }

  @media screen and (max-width: vars.$breakpoint-max-width-desktop) {

    position: absolute;

    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    snap-type: y mandatory;

    &__item {
      margin-bottom: 40px !important;
      opacity: 0;
      transform: translateY(20px);
      transition: transform .5s ease, opacity .5s ease;
    }
    &__list {
      flex-direction: column;
      padding: 100px 20px 0;
    }

    &__list, &__bottom {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      user-select: none;
    }

    &__bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
    }

    &__mobileGlass {
      display: block;
      background-color: rgba(#fff, .9);
      position: absolute;
      z-index: -1;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      height: 700px;

    }
  }

  @media screen and (max-width: vars.$breakpoint-max-width-desktop-middle) {
    font-size: 16px;

    &__item {
      margin: 0 18px;
    }
  }
}

.burger {
  margin: 0;
  cursor: pointer;
  line-height: 1;
  border: none;
  padding: 10px 23px;
  appearance: none;
  background-color: transparent;

  &__icon {
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    width: 20px;
    height: 20px;
    position: relative;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: vars.$brand-color-dark;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 5px;
      }

      &:nth-child(2), &:nth-child(3) {
        top: 10px;
      }

      &:nth-child(4) {
        top: 15px;
      }
    }

  }

  &.nav-open {
    .burger__icon {
      span {
        &:nth-child(1) {
          top: 12px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 12px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }
}

.nav-overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(vars.$brand-color-dark, .2);
  visibility: hidden;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: opacity .5s ease, visibility .5s ease;
}