@use 'vars';

.hero {
  padding: 20px 0 50px;

  &__title {
    font-size: clamp(36px, 8vw, 40px);
    line-height: 120%;
    margin: 0 0 20px;
  }

  &__content {
    flex: 1 1 auto;
  }

  &__text {
    font-size: 20px;
    line-height: 130%;

    p {
      margin: 0;
      white-space: pre-wrap;
    }

  }

  &__inner {
    display: flex;
    flex-direction: column-reverse;
  }

  &__picture {
    display: flex;
    background-color: #fff;
    position: relative;

    aspect-ratio: 1.46;

    &-wrapper {
      position: relative;
      border-radius: 30px;
      overflow: hidden;

      &::after {
        content: '';
        background-image: linear-gradient(60.89deg, vars.$brand-color 0%, rgba(22, 87, 255, 0) 30.77%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      &.lazy-wrapper.is-loaded {
        &::after {
          opacity: 1;
        }

        & + .hero__messages {
          opacity: 1;
        }
      }
    }

    &-img {
    }
  }


  &__footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .button + .button {
      margin-top: 15px;
    }
  }

  &__text {
    line-height: 130%;
  }

  &--service {
    padding-top: 0;
  }

  @media screen and (min-width: vars.$breakpoint-max-width-desktop) {
    padding: 40px 0 100px;

    &__inner {
      flex-direction: row;
      align-items: flex-start;
    }
    &--service {
      padding-top: 20px;
      padding-bottom: 70px;

    }

    &__price {
      font-size: clamp(18px, 1.5vw, 24px);
    }

    &__picture {
      width: 52%;
      max-width: 670px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      background-color: transparent;

      aspect-ratio: 1.34;

      &-wrapper {
        width: 100%;
      }
    }
    &__content {
      padding-right: 95px;
    }
    &__text {
      font-size: clamp(20px, 2.2vw, 30px);
      line-height: 130%;
    }
    &__title {
      font-size: clamp(45px, 4.5vw, 60px);
      line-height: 120%;
      margin-bottom: 20px;
    }

    &__footer {
      margin: 40px 0 0 0;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;
    }
  }

  @media screen and (min-width: 1150px) {
    &__inner {
      align-items: center;
    }

    &--service {
      .hero__inner {
       align-items: flex-start;
      }
    }
  }


  &__messages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;

    .message {
      position: absolute;
      width: 90%;
      max-width: 450px;

      &:first-child {
        top: 30px;
        left: -30px;
      }

      &:last-child {
        bottom: 30px;
        right: -30px;
      }
    }
  }

  @media screen and (max-width: vars.$breakpoint-max-width-desktop) {
    padding: 20px 0 40px;
    &__messages {
      .message {
        &:first-child {
          top: -10px;
          left: 5%;
          width: 90%;
          margin: 0;

          box-shadow: 5px 5px 23px rgba(vars.$brand-color-dark, 0.3);
        }
      }
    }
    &__content {
      padding-top: 20px;
    }

    &__picture {
      &-wrapper {
        border-radius: 15px;
      }
    }

    &__button {
      padding: 18px 30px !important;
    }
  }

  @media screen and (max-width: vars.$breakpoint-max-width-desktop-middle) {
    &__messages {
      .message {
        &:nth-child(n+2) {
          display: none;
        }
      }
    }
  }
}

.message {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  position: relative;
  border: 2px solid #fff;
  box-shadow: 10px 10px 35px rgba(vars.$brand-color-dark, 0.3);

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  @supports ((-webkit-backdrop-filter:none) or (backdrop-filter:none)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 100%);

  }


  &__pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    flex: 1 0 70px;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;

    p {
      margin: 0;
    }

    &::before {
      content: '“';
      color: vars.$brand-color-accent;
      font-size: 60px;
      line-height: 1;
      margin-right: 10px;
      display: block;
      align-self: flex-start;
    }
  }

  @media screen and (max-width: vars.$breakpoint-max-width-desktop) {
    padding: 9px;
    border-radius: 15px;
    border-width: 1px;
    &__pic {
      width: 45px;
      height: 45px;
      flex: 0 0 45px;
      margin-right: 7px;
    }

    &__text {
      font-size: 12px;

      &::before {
        font-size: 40px;
        margin-right: 7px;
      }
    }
  }
}


.animatedTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;


  span {
    display: inline;
    white-space: pre-wrap;
  }

  &__el {
    position: absolute;
    overflow: hidden;
    text-transform: uppercase;
    color: vars.$brand-color;
    font-style: italic;
    opacity: 0;

    &.ready {
      opacity: 1;
    }

    //
    i {
      position: absolute;
      left: 0;
      z-index: 1;
      opacity: 0;
      width: 350px;

      &.active {
        animation: active;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }

      &.inactive {
        animation: inactive;
        animation-duration: 0.4s;
        animation-timing-function: linear;
      }
    }
  }

  &--hor {
    .animatedTitle__el {
      i {
        &.active {
          animation-name: active-hor;
        }

        &.inactive {
          animation-name: inactive-hor;
        }
      }
    }
  }

  @media screen and (max-width: vars.$breakpoint-max-width-desktop) {
    &__el {
      i {
        width: 250px;
      }
    }
  }
}

@keyframes active {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  20%, 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes inactive {
  0%, 80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
}


@keyframes active-hor {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  20%, 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes inactive-hor {
  0%, 80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
}
